<h1>Lists</h1>
</br>

<% @lists.each do |list| %>
  <h2><%= link_to list.name, list_path(list) %></h2>
<% end %>

</br>
<button type="button" class="btn btn-primary"><%= link_to 'Add New List', new_list_path %></button>
